{% comment %}
ATB-SCHEMA{
  "name": "Constructive Banners",
  "class": "index-section",
  "id": "index-section-construction_banners",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "select",
      "id": "atb_top_offset",
      "label": "Top Offset",
      "default": "normal",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        }
      ],
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_custom_classes",
      "label": "Custom css classes",
      "info": "For the custom styles. Add your styles in the theme.css.liquid"
    },
    {
      "type": "checkbox",
      "id": "atb_fullwidth",
      "label": "Fullwidth size",
      "default": true,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_nopaddings",
      "label": "No paddings",
      "default": false,
      "info": ""
    },
    {
      "type": "header",
      "content": "Items length and design",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "3 items = Big and 2 small",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "4 items = Big and 3 small",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "5 items = Big and 4 small",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "6 items = 2 big and 4 small",
      "info": ""
    },
    {
      "type": "paragraph",
      "content": "Add banners at the bottom",
      "info": ""
    },
    {
      "type": "header",
      "content": "Title",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_title",
      "label": "Show title",
      "default": false,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_title_to_left",
      "label": "Title to left",
      "default": false,
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_boxed_title",
      "label": "Boxed title when fullwidth",
      "default": false,
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_text1",
      "label": "Title",
      "default": "POPULAR",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "atb_text2",
      "label": "Description",
      "default": "CLOTHING BRANDS",
      "info": ""
    },
    {
      "type": "header",
      "content": "Main settings",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_description_size",
      "label": "Description size",
      "default": "big",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "big",
          "label": "Big"
        }
      ],
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_animation",
      "label": "Animation for text background",
      "default": "scale",
      "options": [
        {
          "value": "scale",
          "label": "Scale"
        },
        {
          "value": "simple",
          "label": "No scale"
        }
      ],
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_position",
      "label": "Main text information position",
      "info": "Main settings for all items",
      "default": "normal",
      "options": [
        {
          "value": "tt-point-v-t tt-point-h-l",
          "label": "Top Left"
        },
        {
          "value": "tt-point-v-t",
          "label": "Top Center"
        },
        {
          "value": "tt-point-v-t tt-point-h-r",
          "label": "Top Right"
        },
        {
          "value": "tt-point-h-l",
          "label": "Left"
        },
        {
          "value": "normal",
          "label": "Center"
        },
        {
          "value": "tt-point-h-r",
          "label": "Right"
        },
        {
          "value": "tt-point-v-b tt-point-h-l",
          "label": "Bottom Left"
        },
        {
          "value": "tt-point-v-b",
          "label": "Bottom Center"
        },
        {
          "value": "tt-point-v-b tt-point-h-r",
          "label": "Bottom Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Use same width description",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_use_same_desc_width",
      "label": "Use same width description",
      "default": false,
      "info": ""
    },
    {
      "type": "text",
      "id": "atb_same_width",
      "label": "Width",
      "default": "330",
      "info": "Integer in px"
    },
    {
      "type": "header",
      "content": "Border",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "atb_show_border",
      "label": "Show border",
      "default": false,
      "info": ""
    },
    {
      "type": "color",
      "id": "atb_border_color",
      "label": "Border color",
      "default": "#e9e7e7",
      "info": ""
    },
    {
      "type": "header",
      "content": "Description background roundness",
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_bg_round",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Description background roundness",
      "default": 6,
      "info": ""
    },
    {
      "type": "text",
      "id": "blocks",
      "label": "Block ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": "",
      "repeatable": "Banner"
    },
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Image",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "block_use_link",
      "label": "Use link",
      "default": true,
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_link",
      "label": "Link",
      "info": "Optional",
      "repeatable": "Banner"
    },
    {
      "type": "header",
      "content": "Unique settings",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "block_text_to_left",
      "label": "Text to left",
      "default": false,
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "select",
      "id": "block_description_size",
      "label": "Description size",
      "info": "Set unique size for this item",
      "default": "use_main_size",
      "options": [
        {
          "value": "use_main_size",
          "label": "Use main size"
        },
        {
          "value": "hide",
          "label": "Hide"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "big",
          "label": "Big"
        }
      ],
      "repeatable": "Banner"
    },
    {
      "type": "select",
      "id": "block_animation",
      "label": "Animation for text background",
      "info": "Set unique animation for this item",
      "default": "use_main_animation",
      "options": [
        {
          "value": "use_main_animation",
          "label": "Use main animation"
        },
        {
          "value": "scale",
          "label": "Scale"
        },
        {
          "value": "simple",
          "label": "No scale"
        }
      ],
      "repeatable": "Banner"
    },
    {
      "type": "select",
      "id": "block_position",
      "label": "Text information position",
      "info": "Set unique position for this item",
      "default": "use_main_position",
      "options": [
        {
          "value": "use_main_position",
          "label": "Use main position"
        },
        {
          "value": "tt-point-v-t tt-point-h-l",
          "label": "Top Left"
        },
        {
          "value": "tt-point-v-t",
          "label": "Top Center"
        },
        {
          "value": "tt-point-v-t tt-point-h-r",
          "label": "Top Right"
        },
        {
          "value": "tt-point-h-l",
          "label": "Left"
        },
        {
          "value": "normal",
          "label": "Center"
        },
        {
          "value": "tt-point-h-r",
          "label": "Right"
        },
        {
          "value": "tt-point-v-b tt-point-h-l",
          "label": "Bottom Left"
        },
        {
          "value": "tt-point-v-b",
          "label": "Bottom Center"
        },
        {
          "value": "tt-point-v-b tt-point-h-r",
          "label": "Bottom Right"
        }
      ],
      "repeatable": "Banner"
    },
    {
      "type": "textarea",
      "id": "block_text1",
      "label": "Small Text",
      "default": "GREAT SUMMER CLEARANCE SALES",
      "info": "New line = ",
      "repeatable": "Banner"
    },
    {
      "type": "textarea",
      "id": "block_text2",
      "label": "Big Text",
      "default": "GET UP TO <span style=\"color: #2879fe\">70% OFF</span>",
      "info": "New line = ",
      "repeatable": "Banner"
    },
    {
      "type": "checkbox",
      "id": "block_show_icon",
      "label": "Show image icon",
      "default": false,
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "image_picker",
      "id": "block_icon_image",
      "label": "Icon image",
      "info": "Use PNG image. Recommended size 124x38px",
      "repeatable": "Banner"
    },
    {
      "type": "text",
      "id": "block_width",
      "label": "Icon width. In pixel",
      "default": "128",
      "info": "Integer",
      "repeatable": "Banner"
    },
    {
      "type": "color",
      "id": "block_cbtntext",
      "label": "Base text 1 color",
      "default": "#191919",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_cbtntext2",
      "label": "Base text 2 color",
      "default": "#191919",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_acbtntext",
      "label": "Active text 1 color",
      "default": "#ffffff",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_acbtntext2",
      "label": "Active text 2 color",
      "default": "#ffffff",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_cbtnbg",
      "label": "Base background color",
      "default": "#ffffff",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_background_alpha",
      "label": "Base background opacity",
      "default": "90",
      "info": "Range: 0-100 Percent",
      "repeatable": "Banner"
    },
    {
      "type": "color",
      "id": "block_acbtnbg",
      "label": "Active background color",
      "default": "#2879fe",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_background_alpha_a",
      "label": "Active background opacity",
      "default": "90",
      "info": "Range: 0-100 Percent",
      "repeatable": "Banner"
    },
    {
      "type": "color",
      "id": "block_cbtnbor",
      "label": "Base border color",
      "default": "rgba(0,0,0,0)",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_border_alpha",
      "label": "Active border opacity",
      "default": "0",
      "info": "Range: 0-100 Percent",
      "repeatable": "Banner"
    },
    {
      "type": "color",
      "id": "block_acbtnbor",
      "label": "Active border color",
      "default": "rgba(0,0,0,0)",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_border_alpha_a",
      "label": "Active border opacity",
      "default": "0",
      "info": "Range: 0-100 Percent",
      "repeatable": "Banner"
    },
    {
      "type": "checkbox",
      "id": "block_show_custom_html",
      "label": "Show custom html",
      "default": false,
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "select",
      "id": "block_custom_html_position",
      "label": "Custom html position",
      "default": "normal",
      "options": [
        {
          "value": "tt-point-v-t tt-point-h-l",
          "label": "Top Left"
        },
        {
          "value": "tt-point-v-t",
          "label": "Top Center"
        },
        {
          "value": "tt-point-v-t tt-point-h-r",
          "label": "Top Right"
        },
        {
          "value": "tt-point-h-l",
          "label": "Left"
        },
        {
          "value": "normal",
          "label": "Center"
        },
        {
          "value": "tt-point-h-r",
          "label": "Right"
        },
        {
          "value": "tt-point-v-b tt-point-h-l",
          "label": "Bottom Left"
        },
        {
          "value": "tt-point-v-b",
          "label": "Bottom Center"
        },
        {
          "value": "tt-point-v-b tt-point-h-r",
          "label": "Bottom Right"
        }
      ],
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "textarea",
      "id": "block_custom_html",
      "label": "Custom html",
      "info": "Buttons code: Women’sMen’s",
      "repeatable": "Banner"
    },
    {
      "type": "checkbox",
      "id": "block_show_prem_btn",
      "label": "Show premade buttons",
      "default": false,
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "block_show_prem_btn_1",
      "label": "Show button 1",
      "default": true,
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_link_1",
      "label": "Link button 1",
      "info": "Optional",
      "repeatable": "Banner"
    },
    {
      "type": "text",
      "id": "block_text_b_1",
      "label": "Text button 1",
      "default": "SHOP WOMEN",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "checkbox",
      "id": "block_show_prem_btn_2",
      "label": "Show button 2",
      "default": true,
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_link_2",
      "label": "Link button 2",
      "info": "Optional",
      "repeatable": "Banner"
    },
    {
      "type": "text",
      "id": "block_text_b_2",
      "label": "Text button 2",
      "default": "SHOP MEN",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_cbtntext_1",
      "label": "Base text color",
      "default": "#191919",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_acbtntext_1",
      "label": "Active text color",
      "default": "#ffffff",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_cbtnbg_1",
      "label": "Base background color",
      "default": "#ffffff",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_background_alpha_1",
      "label": "Base background opacity",
      "default": "90",
      "info": "Range: 0-100 Percent",
      "repeatable": "Banner"
    },
    {
      "type": "color",
      "id": "block_acbtnbg_1",
      "label": "Active background color",
      "default": "#2879fe",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_background_alpha_a_1",
      "label": "Active background opacity",
      "default": "90",
      "info": "Range: 0-100 Percent",
      "repeatable": "Banner"
    },
    {
      "type": "color",
      "id": "block_cbtntext_2",
      "label": "Base text color",
      "default": "#191919",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_acbtntext_2",
      "label": "Active text color",
      "default": "#ffffff",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "color",
      "id": "block_cbtnbg_2",
      "label": "Base background color",
      "default": "#ffffff",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_background_alpha_2",
      "label": "Base background opacity",
      "default": "90",
      "info": "Range: 0-100 Percent",
      "repeatable": "Banner"
    },
    {
      "type": "color",
      "id": "block_acbtnbg_2",
      "label": "Active background color",
      "default": "#2879fe",
      "repeatable": "Banner",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_background_alpha_a_2",
      "label": "Active background opacity",
      "default": "90",
      "info": "Range: 0-100 Percent",
      "repeatable": "Banner"
    }
  ],
  "warnings": [
    "repeating checkbox fields may not be properly handled",
    "repeating image fields may not be properly handled",
    "some fields may be named the same"
  ]
}ATB-SCHEMA
{% endcomment %}


{%- include 'atb-render' field:'section_id' -%}
{%- assign section_id = val -%}
{%- include 'atb-render' field:'atb_top_offset' -%}
{%- assign atb_top_offset = val -%}
{%- include 'atb-render' field:'atb_custom_classes' -%}
{%- assign atb_custom_classes = val -%}
{%- include 'atb-render' field:'atb_fullwidth' -%}
{%- assign atb_fullwidth = val -%}
{%- include 'atb-render' field:'atb_nopaddings' -%}
{%- assign atb_nopaddings = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'undefined' -%}
{%- assign undefined = val -%}
{%- include 'atb-render' field:'atb_show_title' -%}
{%- assign atb_show_title = val -%}
{%- include 'atb-render' field:'atb_title_to_left' -%}
{%- assign atb_title_to_left = val -%}
{%- include 'atb-render' field:'atb_boxed_title' -%}
{%- assign atb_boxed_title = val -%}
{%- include 'atb-render' field:'atb_text1' -%}
{%- assign atb_text1 = val -%}
{%- include 'atb-render' field:'atb_text2' -%}
{%- assign atb_text2 = val -%}
{%- include 'atb-render' field:'atb_description_size' -%}
{%- assign atb_description_size = val -%}
{%- include 'atb-render' field:'atb_animation' -%}
{%- assign atb_animation = val -%}
{%- include 'atb-render' field:'atb_position' -%}
{%- assign atb_position = val -%}
{%- include 'atb-render' field:'atb_use_same_desc_width' -%}
{%- assign atb_use_same_desc_width = val -%}
{%- include 'atb-render' field:'atb_same_width' -%}
{%- assign atb_same_width = val -%}
{%- include 'atb-render' field:'atb_show_border' -%}
{%- assign atb_show_border = val -%}
{%- include 'atb-render' field:'atb_border_color' -%}
{%- assign atb_border_color = val -%}
{%- include 'atb-render' field:'atb_bg_round' -%}
{%- assign atb_bg_round = val -%}
{%- include 'atb-render' field:'blocks' -%}
{%- assign blocks = val -%}
{%- include 'atb-render' field:'block_image' -%}
{%- assign block_image = val -%}
{%- include 'atb-render' field:'block_use_link' -%}
{%- assign block_use_link = val -%}
{%- include 'atb-render' field:'block_link' -%}
{%- assign block_link = val -%}
{%- include 'atb-render' field:'block_text_to_left' -%}
{%- assign block_text_to_left = val -%}
{%- include 'atb-render' field:'block_description_size' -%}
{%- assign block_description_size = val -%}
{%- include 'atb-render' field:'block_animation' -%}
{%- assign block_animation = val -%}
{%- include 'atb-render' field:'block_position' -%}
{%- assign block_position = val -%}
{%- include 'atb-render' field:'block_text1' -%}
{%- assign block_text1 = val -%}
{%- include 'atb-render' field:'block_text2' -%}
{%- assign block_text2 = val -%}
{%- include 'atb-render' field:'block_show_icon' -%}
{%- assign block_show_icon = val -%}
{%- include 'atb-render' field:'block_icon_image' -%}
{%- assign block_icon_image = val -%}
{%- include 'atb-render' field:'block_width' -%}
{%- assign block_width = val -%}
{%- include 'atb-render' field:'block_cbtntext' -%}
{%- assign block_cbtntext = val -%}
{%- include 'atb-render' field:'block_cbtntext2' -%}
{%- assign block_cbtntext2 = val -%}
{%- include 'atb-render' field:'block_acbtntext' -%}
{%- assign block_acbtntext = val -%}
{%- include 'atb-render' field:'block_acbtntext2' -%}
{%- assign block_acbtntext2 = val -%}
{%- include 'atb-render' field:'block_cbtnbg' -%}
{%- assign block_cbtnbg = val -%}
{%- include 'atb-render' field:'block_background_alpha' -%}
{%- assign block_background_alpha = val -%}
{%- include 'atb-render' field:'block_acbtnbg' -%}
{%- assign block_acbtnbg = val -%}
{%- include 'atb-render' field:'block_background_alpha_a' -%}
{%- assign block_background_alpha_a = val -%}
{%- include 'atb-render' field:'block_cbtnbor' -%}
{%- assign block_cbtnbor = val -%}
{%- include 'atb-render' field:'block_border_alpha' -%}
{%- assign block_border_alpha = val -%}
{%- include 'atb-render' field:'block_acbtnbor' -%}
{%- assign block_acbtnbor = val -%}
{%- include 'atb-render' field:'block_border_alpha_a' -%}
{%- assign block_border_alpha_a = val -%}
{%- include 'atb-render' field:'block_show_custom_html' -%}
{%- assign block_show_custom_html = val -%}
{%- include 'atb-render' field:'block_custom_html_position' -%}
{%- assign block_custom_html_position = val -%}
{%- include 'atb-render' field:'block_custom_html' -%}
{%- assign block_custom_html = val -%}
{%- include 'atb-render' field:'block_show_prem_btn' -%}
{%- assign block_show_prem_btn = val -%}
{%- include 'atb-render' field:'block_show_prem_btn_1' -%}
{%- assign block_show_prem_btn_1 = val -%}
{%- include 'atb-render' field:'block_link_1' -%}
{%- assign block_link_1 = val -%}
{%- include 'atb-render' field:'block_text_b_1' -%}
{%- assign block_text_b_1 = val -%}
{%- include 'atb-render' field:'block_show_prem_btn_2' -%}
{%- assign block_show_prem_btn_2 = val -%}
{%- include 'atb-render' field:'block_link_2' -%}
{%- assign block_link_2 = val -%}
{%- include 'atb-render' field:'block_text_b_2' -%}
{%- assign block_text_b_2 = val -%}
{%- include 'atb-render' field:'block_cbtntext_1' -%}
{%- assign block_cbtntext_1 = val -%}
{%- include 'atb-render' field:'block_acbtntext_1' -%}
{%- assign block_acbtntext_1 = val -%}
{%- include 'atb-render' field:'block_cbtnbg_1' -%}
{%- assign block_cbtnbg_1 = val -%}
{%- include 'atb-render' field:'block_background_alpha_1' -%}
{%- assign block_background_alpha_1 = val -%}
{%- include 'atb-render' field:'block_acbtnbg_1' -%}
{%- assign block_acbtnbg_1 = val -%}
{%- include 'atb-render' field:'block_background_alpha_a_1' -%}
{%- assign block_background_alpha_a_1 = val -%}
{%- include 'atb-render' field:'block_cbtntext_2' -%}
{%- assign block_cbtntext_2 = val -%}
{%- include 'atb-render' field:'block_acbtntext_2' -%}
{%- assign block_acbtntext_2 = val -%}
{%- include 'atb-render' field:'block_cbtnbg_2' -%}
{%- assign block_cbtnbg_2 = val -%}
{%- include 'atb-render' field:'block_background_alpha_2' -%}
{%- assign block_background_alpha_2 = val -%}
{%- include 'atb-render' field:'block_acbtnbg_2' -%}
{%- assign block_acbtnbg_2 = val -%}
{%- include 'atb-render' field:'block_background_alpha_a_2' -%}
{%- assign block_background_alpha_a_2 = val -%}
{%- if atb_fullwidth == blank -%}
{%- assign atb_fullwidth = false -%}
{%- else -%}
{%- assign atb_fullwidth = true -%}
{%- endif -%}
{%- if atb_nopaddings == blank -%}
{%- assign atb_nopaddings = false -%}
{%- else -%}
{%- assign atb_nopaddings = true -%}
{%- endif -%}
{%- if atb_show_title == blank -%}
{%- assign atb_show_title = false -%}
{%- else -%}
{%- assign atb_show_title = true -%}
{%- endif -%}
{%- if atb_title_to_left == blank -%}
{%- assign atb_title_to_left = false -%}
{%- else -%}
{%- assign atb_title_to_left = true -%}
{%- endif -%}
{%- if atb_boxed_title == blank -%}
{%- assign atb_boxed_title = false -%}
{%- else -%}
{%- assign atb_boxed_title = true -%}
{%- endif -%}
{%- if atb_use_same_desc_width == blank -%}
{%- assign atb_use_same_desc_width = false -%}
{%- else -%}
{%- assign atb_use_same_desc_width = true -%}
{%- endif -%}
{%- if atb_show_border == blank -%}
{%- assign atb_show_border = false -%}
{%- else -%}
{%- assign atb_show_border = true -%}
{%- endif -%}
{%- assign atb_bg_round = atb_bg_round | plus: 0 -%}
{%- assign no_image = images['no_image_comparison'] -%}

<section id="shopify-section-{{section_id}}" class="shopify-section index-section">
{%- assign item = section.settings -%}

{%- assign grid = atb_items -%}
{%- capture info_image_size -%}
{%- case grid -%}
{%- when '6' -%}{% if item.fullwidth %}1024x400px{% else %}600x300px{% endif %}
{%- when '4' -%}{% if item.fullwidth %}800x800px{% else %}400x400px{% endif %}
{%- else -%}{% if item.fullwidth %}600x600px{% else %}300x300px{% endif %}
{%- endcase -%}
{%- endcapture -%}

{%- assign img_size = info_image_size | split: 'x' | first | append: 'x' -%}

<div class="container-indent{% if item.top_offset != 'normal' %} nomargin{% endif %} {{ item.custom_classes }}">
  {% if item.nopaddings %}<div class="nopaddings">{% endif %}
  <div class="container{% if item.fullwidth %}-fluid-custom{% endif %}">
    {%- if item.show_title -%}
    <div class="tt-block-title{% if item.title_to_left %} text-left{% endif %}{% if item.boxed_title and item.fullwidth %} container{% endif %}">
      <h2 class="tt-title">{{ item.text1 }}</h2>
      {%- unless item.text2 == '' -%}<div class="tt-description">{{ item.text2 }}</div>{%- endunless -%}
    </div>
    {%- endif -%}

    {%- if blocks.size > 0 -%}
    <div class="row{% if blocks.size == 6 %} flex-sm-row-reverse{% elsif blocks.size == 5 %} tt-list-sm-shift{% endif %}{% if item.top_offset == 'none' or item.show_title %} tt-layout-promo-box{% endif %}">
      {%- case blocks.size -%}
      {%- when 6 -%}
      <div class="col-sm-12 col-md-6">
        <div class="row">
          {%- capture info_image_size -%}910x780px{%- endcapture -%}
          {%- capture img_size -%}{% if item.fullwidth %}x800{% else %}x400{% endif %}{%- endcapture -%}
          <div class="col-sm-6">
            {%- assign b_i = section.blocks[3].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
          <div class="col-sm-6">
            {%- assign b_i = section.blocks[4].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
          <div class="col-sm-12">
            {%- capture info_image_size -%}930x390px{%- endcapture -%}
            {%- capture img_size -%}{% if item.fullwidth %}1024x{% else %}600x{% endif %}{%- endcapture -%}
            {%- assign b_i = section.blocks[5].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-sm-6">
            {%- capture info_image_size -%}910x780px{%- endcapture -%}
            {%- capture img_size -%}{% if item.fullwidth %}x800{% else %}x400{% endif %}{%- endcapture -%}
            {%- assign b_i = section.blocks[0].settings -%}{% include 'atb-section-banner-item'   %}
            {%- assign b_i = section.blocks[1].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
          <div class="col-sm-6">
            {%- capture info_image_size -%}910x1600px{%- endcapture -%}
            {%- capture img_size -%}{% if item.fullwidth %}1024x{% else %}600x{% endif %}{%- endcapture -%}
            {%- assign b_i = section.blocks[2].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
        </div>
      </div>

      {%- when 5 -%}

      <div class="col-md-3">
        {%- capture info_image_size -%}455x390px{%- endcapture -%}
        {%- capture img_size -%}{% if item.fullwidth %}600x{% else %}300x{% endif %}{%- endcapture -%}
        <div class="row">
          <div class="col-6 col-md-12 col-12-440width">
            {%- assign b_i = section.blocks[0].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
          <div class="col-6 col-md-12 col-12-440width">
            {%- assign b_i = section.blocks[1].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-6 col-sm-6 col-md-6 col-12-440width">
        {%- capture info_image_size -%}930x800px{%- endcapture -%}
        {%- capture img_size -%}{% if item.fullwidth %}1024x{% else %}600x{% endif %}{%- endcapture -%}
        {%- assign b_i = section.blocks[2].settings -%}{% include 'atb-section-banner-item'   %}
      </div>
      <div class="col-md-3">
        <div class="row">
          {%- capture info_image_size -%}455x390px{%- endcapture -%}
          {%- capture img_size -%}{% if item.fullwidth %}600x{% else %}300x{% endif %}{%- endcapture -%}
          <div class="col-6 col-md-12 col-12-440width">
            {%- assign b_i = section.blocks[3].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
          <div class="col-6 col-md-12 col-12-440width">
            {%- assign b_i = section.blocks[4].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
        </div>
      </div>

      {%- when 4 -%}

      <div class="col-sm-12 col-md-6">
        {%- capture info_image_size -%}930x800px{%- endcapture -%}
        {%- capture img_size -%}{% if item.fullwidth %}1024x{% else %}600x{% endif %}{%- endcapture -%}
        {%- assign b_i = section.blocks[0].settings -%}{% include 'atb-section-banner-item'   %}
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row">
          {%- capture info_image_size -%}455x390px{%- endcapture -%}
          {%- capture img_size -%}{% if item.fullwidth %}600x{% else %}300x{% endif %}{%- endcapture -%}
          <div class="col-sm-6">
            {%- assign b_i = section.blocks[1].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
          <div class="col-sm-6">
            {%- assign b_i = section.blocks[2].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
          <div class="col-sm-12">
            {%- capture info_image_size -%}930x390px{%- endcapture -%}
            {%- capture img_size -%}{% if item.fullwidth %}1024x{% else %}600x{% endif %}{%- endcapture -%}
            {%- assign b_i = section.blocks[3].settings -%}{% include 'atb-section-banner-item'   %}
          </div>
        </div>
      </div>

      {%- when 3 -%}

      <div class="col-sm-12 col-md-6 col-12-440width">
        {%- capture info_image_size -%}930x800px{%- endcapture -%}
        {%- capture img_size -%}{% if item.fullwidth %}1024x{% else %}600x{% endif %}{%- endcapture -%}
        {%- assign b_i = section.blocks[0].settings -%}{% include 'atb-section-banner-item'   %}
      </div>
      <div class="col-sm-12 col-md-6 col-12-440width">
        {%- capture info_image_size -%}930x390px{%- endcapture -%}
        {%- capture img_size -%}{% if item.fullwidth %}1024x{% else %}600x{% endif %}{%- endcapture -%}
        {%- assign b_i = section.blocks[1].settings -%}{% include 'atb-section-banner-item'   %}
        {%- assign b_i = section.blocks[2].settings -%}{% include 'atb-section-banner-item'   %}
      </div>

      {%- else -%}

      {%- for block0 in blocks -%}{%- assign b_i = block_-[forloop.index0]%}
{%- if block_show_prem_btn_2[forloop.index0] == blank -%}
{%- assign my_checkbox6 = false -%}
{%- else -%}
{%- assign my_checkbox6 = true -%}
{%- endif -%}
{%- if block_show_prem_btn_1[forloop.index0] == blank -%}
{%- assign my_checkbox5 = false -%}
{%- else -%}
{%- assign my_checkbox5 = true -%}
{%- endif -%}
{%- if block_show_prem_btn[forloop.index0] == blank -%}
{%- assign my_checkbox4 = false -%}
{%- else -%}
{%- assign my_checkbox4 = true -%}
{%- endif -%}
{%- if block_show_custom_html[forloop.index0] == blank -%}
{%- assign my_checkbox3 = false -%}
{%- else -%}
{%- assign my_checkbox3 = true -%}
{%- endif -%}
{%- if block_show_icon[forloop.index0] == blank -%}
{%- assign my_checkbox2 = false -%}
{%- else -%}
{%- assign my_checkbox2 = true -%}
{%- endif -%}
{%- if block_text_to_left[forloop.index0] == blank -%}
{%- assign my_checkbox1 = false -%}
{%- else -%}
{%- assign my_checkbox1 = true -%}
{%- endif -%}
{%- if block_use_link[forloop.index0] == blank -%}
{%- assign my_checkbox0 = false -%}
{%- else -%}
{%- assign my_checkbox0 = true -%}
{%- endif -%}
{%- assign my_image_key1 = block_icon_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image1 = images[my_image_key1] -%}
{%- assign my_image_key0 = block_image[forloop.index0]| split: '/files/' | last -%}
{%- assign my_image0 = images[my_image_key0] -%}
      <div class="col-sm-6 col-md-6 col-12-440width">
        {%- include 'section-banner-item' -%}
      </div>
      {%- endfor -%}

      {%- endcase -%}
    </div>
    {%- else -%}
    <span style="display: flex; justify-content: center;">This section doesn’t currently include any content. Add content to this section using the sidebar.</span>
    {%- endif -%}

  </div>
  {% if item.nopaddings %}</div>{% endif %}
</div>


</section>