{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_video-hero1">
			<!-- START Video Hero1 REVOLUTION SLIDER 6.5.6.11 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_6_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_6_1" style="" data-version="6.5.6.11">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-14" data-title="Video" data-anim="ms:500ms;" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="14" data-no-retina>
							<rs-bgvideo 
								data-video="vc:none;w:100%;h:100%;nse:false;l:true;ptimer:false;"
								data-vimeoid="669248209"
								data-vatr="background=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;api=1"
							></rs-bgvideo>
<!--						--><rs-zone id="rrzt_14" class="rev_row_zone_top" style="z-index: 13;"><!--

								--><rs-row
									id="slider-6-slide-14-layer-0" 
									data-type="row"
									data-xy="xo:50px;yo:50px;"
									data-rsp_bd="off"
									data-margin="t:150,140,120,90;"
									data-frame_0="o:1;"
									data-frame_999="o:0;st:w;sR:8700;sA:9000;"
									style="z-index:1;"
								><!--
									--><rs-column
										id="slider-6-slide-14-layer-1" 
										data-type="column"
										data-xy="xo:50px;yo:50px;"
										data-text="a:center;"
										data-rsp_bd="off"
										data-column="w:100%;"
										data-frame_0="o:1;"
										data-frame_999="o:0;st:w;sR:8700;sA:9000;"
										style="z-index:2;width:100%;"
									><!--
										--><rs-layer
											id="slider-6-slide-14-layer-4" 
											data-type="text"
											data-text="w:normal;s:100,80,60,40;l:100,80,60,40;a:center;"
											data-rsp_o="off"
											data-rsp_bd="off"
											data-frame_0="sX:0.5;sY:0.5;blu:20px;"
											data-frame_1="e:power4.out;st:300;sp:1000;sR:300;"
											data-frame_999="o:0;st:w;sR:7700;"
											style="z-index:3;font-family:'Anton';"
										>ART ELEVATED. 
										</rs-layer><!--

										--><rs-layer
											id="slider-6-slide-14-layer-5" 
											data-type="text"
											data-text="w:normal;s:17,17,15,13;l:30,30,25,20;a:center;"
											data-rsp_o="off"
											data-rsp_bd="off"
											data-margin="t:50,40,30,20;"
											data-frame_0="sX:0.5;sY:0.5;blu:20px;"
											data-frame_1="e:power4.out;st:350;sp:1000;sR:350;"
											data-frame_999="o:0;st:w;sR:7650;"
											style="z-index:4;font-family:'Montserrat';"
										>Medical-Grade Tattoo Care 
										</rs-layer><!--

										--><rs-layer
											id="slider-6-slide-14-layer-6" 
											class="rev-btn"
											data-type="button"
											data-bsh="c:rgba(0,0,0,0.15);v:10px;b:20px;"
											data-text="w:normal;s:17,17,15,15;l:48,48,40,40;fw:600;"
											data-dim="minh:0px,none,none,none;"
											data-actions='o:click;a:scrollbelow;sp:1000ms;e:power1.inOut;'
											data-rsp_o="off"
											data-rsp_bd="off"
											data-disp="inline-block"
											data-margin="t:70,60,50,30;"
											data-padding="r:39,39,30,30;l:39,39,30,30;"
											data-border="bos:solid;boc:#58a6ff;bow:1px,1px,1px,1px;bor:35px,35px,35px,35px;"
											data-frame_0="sX:0.5;sY:0.5;blu:20px;"
											data-frame_1="e:power4.out;st:400;sp:1000;sR:400;"
											data-frame_999="o:0;st:w;sR:7600;"
											data-frame_hover="bgc:transparent;boc:rgba(255,255,255,0.5);bor:3px,3px,3px,3px;bos:solid;bow:1px,1px,1px,1px;sp:300ms;e:power1.inOut;bri:120%;"
											style="z-index:5;background-color:#58a6ff;font-family:'Oswald';cursor:pointer;display:inline-block;"
										>SHOP NOW 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-layer
								id="slider-6-slide-14-layer-11" 
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-frame_1="e:power2.inOut;sp:500;"
								data-frame_999="o:0;e:power2.inOut;st:w;sp:500;sR:8500;"
								style="z-index:11;background-color:rgba(0,0,0,0.25);"
							> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_6_1',rl:[1240,1024,778,480],el:[630,570,472,352],gw:[1240,1024,778,480],gh:[630,570,472,352],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider61"]!==undefined) {window.RS_MODULES.modules["revslider61"].once = false;window.revapi6 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400%7CAnton:400%7CMontserrat:400%7COswald:600" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi6;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider61"] = {init:function() {
			window.revapi6 = window.revapi6===undefined || window.revapi6===null || window.revapi6.length===0  ? document.getElementById("rev_slider_6_1") : window.revapi6;
			if(window.revapi6 === null || window.revapi6 === undefined || window.revapi6.length==0) { window.revapi6initTry = window.revapi6initTry ===undefined ? 0 : window.revapi6initTry+1; if (window.revapi6initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider61"].init()}); return;}
			window.revapi6 = jQuery(window.revapi6);
			if(window.revapi6.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_6_1"); return;}
			revapi6.revolutionInit({
					revapi:"revapi6",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"61f9620e49ec7",
					gridwidth:"1240,1024,778,480",
					gridheight:"630,570,472,352",
					lazyType:"all",
					spinner:"spinner7",
					perspective:600,
					perspectiveType:"local",
					keepBPHeight:true,
					editorheight:"630,570,472,352",
					responsiveLevels:"1240,1024,778,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,30],
						type:"scroll",
						origo:"slidercenter",
						speed:0
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_video-hero1" ).after( "<div id='revslider_show_video-hero1'></div>" );
                            jQuery( "#revslider_drag_video-hero1" ).hide();
                            jQuery("#revslider_foot_video-hero1").appendTo("#revslider_show_video-hero1");
                            jQuery("#revslider_show_video-hero1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>